.favorites-list-page{
    text-align: center;
    font-family: "M PLUS Rounded 1c", serif;
    font-style: normal;
    font-weight: 600;
}

.favorites-list-page h1{
    font-size: 40px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.favorites-list-page button{
    text-align: center;
    font-family: "M PLUS Rounded 1c", serif;
    font-style: normal;
    font-weight: 400;
}