.registration-page{
    padding: 10px;
    text-align: center;
    font-family: "M PLUS Rounded 1c", serif;
    font-style: normal;
    font-weight: 600;
}

.registration-page h1{
    font-size: 45px;
    margin: 0 0 10px 0;
}